@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

.imgContainer {
    background: url('../images/etchasketch.png') no-repeat center center fixed;
    background-size:100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    -o-background-size: cover;
    min-height: 100%;
    min-height: 100vh;
  }

  .main {
    min-height: 80%;
    min-height: 80vh;
    display: flex;

  }

  a.button:hover {
      text-decoration: none;
      color: #fff;
  }

  .button {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    background-color: #df3c32;
    padding-left: 2rem;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.75);
  }
  .button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    background-color: #d92719;
    z-index: -1;
    transition: transform 750ms;
  }
  .button span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    padding: 1rem;
    overflow: hidden;
    background-color: #d92719;
  }
  .button svg {
    max-width: 20px;
    width: 100%;
    height: auto;
    max-height: 18px;
    fill: white;
  }
  .button:hover::before {
    transform: scaleX(1);
  }
  .button:hover svg {
    animation: moveArrow 750ms;
  }
  @keyframes moveArrow {
    0% {
      transform: translateX(0px);
    }
    49% {
      transform: translateX(50px);
    }
    50% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  